@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Personal Party Planner</h1>
    <p>Current Party Count: @Model.Parties?.Count.</p>
</div>

<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger">
            <input asp-for="NewParty.Id" hidden />
            <span asp-validation-for="NewParty.Id" class="text-danger"></span>
            <input asp-for="NewParty.Name" placeholder="Party Name" />
            <input asp-for="NewParty.Description" placeholder="Party Description" />
            <input asp-for="NewParty.OwnerEmail" value="@User.Identity?.Name" placeholder="Contact" />
            <input asp-for="NewParty.CreatedOn" value="@DateOnly.FromDateTime(DateTime.UtcNow)" />
            <input asp-for="NewParty.DateTimeOf" type="datetime-local" value="@DateTime.UtcNow" />
            <button type="submit" class="btn btn-warning">Create</button>

        </div>
    </form>

</div>

<div>
    <h3>My Parties</h3>
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>
                    Party Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Contact Email
                </th>
                <th>
                    Created On
                </th>
                <th>
                    Party Date and Time
                </th>
                <th>
                    Details
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Parties is not null && Model.Parties.Any())
            {
                foreach (var party in Model.Parties)
                {
                    <tr>
                        <td>@party.Name</td>
                        <td>@party.Description</td>
                        <td>@party.OwnerEmail</td>
                        <td>@party.CreatedOn</td>
                        <td>@party.DateTimeOf</td>
                        <td><a button="submit" id="btnPartyDetails" class="btn btn-info" data-target="#partyDetailModal" data-toggle="modal" asp-page="./Details" asp-route-id=@party.Id>Details </a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
