@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Your Movie List</h1>
</div>

<div>
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Price</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Movies is not null && Model.Movies.Any())
            {
                foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.Genre</td>
                        <td>@Html.DisplayFor(modelItem => movie.ReleaseDate)</td>
                        <td>@movie.Price</td>
                        <td><a input="submit" class="btn btn-info" asp-page="./Edit" asp-route-id="@movie.ID">Edit</a></td>
                    </tr>
                }

            }
        </tbody>
    </table>
    
    <div>
        <a asp-page="./Index" class="btn btn-primary" asp-route-currentPage="@(Model.CurrentPage - 1)">Back</a>
        @for(int indexOfPage = 1; indexOfPage <= Model.TotalPages; indexOfPage++)
        {
            <a asp-page="./Index" class="btn btn-primary" asp-route-currentPage="@indexOfPage">@indexOfPage</a>
        }
        <a asp-page="./Index" class="btn btn-primary" asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
    </div>
    
</div>